#!/bin/sh

{{$graphite_service := getenv "GRAPHITE_SERVICE"}}
{{$graphite_service_link := printf "/services/%s/containers/0/hostname" $graphite_service}}
{{$hosts := getv $graphite_service_link}}
{{$host := printf "/hosts/%s/agent_ip" $hosts}}
GRAPHITE_HOST={{if exists $host}}{{getv $host}}{$end}}

echo "Graphite located on host: ${GRAPHITE_HOST}"

if [ "$RUN" = true ] ; then
    curl -u "${CATTLE_ACCESS_KEY}:${CATTLE_SECRET_KEY}" \
    -X PUT \
    -H "Accept: application/json" \
    -H "Content-Type: application/json" \
    -d '{"activeValue":"", "id":"1as13", "name":"graphite.host", "source":"Database", "value":'${GRAPHITE_HOST}'}' \
    '${CATTLE_CONFIG_URL}/activesettings/1as13'
    echo "API Key updated"
else
    echo "run mode set to false, not updating API"
fi
