#!/bin/sh

GRAPHITE_HOST={{$hosts := getv printf "/services/%s/containers/0/hostname" getenv "GRAPHITE_SERVICE"}}{{$host := printf "/hosts/%s/agent_ip" $hosts}}{{if exists $host}}{{getv $host}}{{end}}
echo "Graphite located on host: ${GRAPHITE_HOST}"

if [ "$RUN" = true ] ; then
    curl -u "${CATTLE_ACCESS_KEY}:${CATTLE_SECRET_KEY}" \
    -X PUT \
    -H "Accept: application/json" \
    -H "Content-Type: application/json" \
    -d '{"activeValue":"", "id":"1as13", "name":"graphite.host", "source":"Database", "value":'${GRAPHITE_HOST}'}' \
    '${CATTLE_CONFIG_URL}/activesettings/1as13'
    echo "API Key updated"
else
    echo "run mode set to false, not updating API"
fi
